[submodule "third_party/riscv-tests"]
	path = third_party/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "third_party/riscv-opcodes"]
	path = third_party/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
[submodule "third_party/gtest_parallel"]
	path = third_party/gtest_parallel
	url = https://github.com/google/gtest-parallel.git
